{% extends "servicecatalog/base.html" %}

{% block content %}

            <div class="row">
            <div class="col-lg-9">
                <div class="panel panel-default">
                                  <div class="panel-body" align="middle">

                    {{ my_graph|safe }}


                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->

{% endblock %}