{% extends "servicecatalog/base.html" %}

{% block content %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{ my_module }}
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="/"><i class="fa fa-home"></i> Home</a>
                </li>
                <li class="active">
                    <i class="fa fa-cube"></i> {{ my_module.name }}
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    {% if my_module.state == "dev" %}
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-info">
                        <strong>Info:</strong> This module is in development and not ready for production.
                </div>
            </div>
        </div>
    {% elif my_module.state == "depricated" %}
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-warning">
                        <strong>Info:</strong> This module is depricated.
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-cogs" aria-hidden="true"></i> About</h3>
                </div>
                <div class="panel-body">
                    {% if my_module.description %}
                        <p>{{ my_module.description }}</p>
                    {% endif %}
                    {% if my_module.documentation %}
                        <a href="{{ my_module.documentation }}" type="button" class="btn btn-default"><i
                                class="fa fa-book" aria-hidden="true"></i>
                            Documentation</a>
                    {% endif %}
                    {% if my_module.tickets %}
                        <a href="{{ my_module.tickets }}" type="button" class="btn btn-default"><i class="fa fa-bug"
                                                                                                   aria-hidden="true"></i>
                            Tickets</a>
                    {% endif %}
                </div>
            </div>
        </div>

        {% for owner in my_module.owners.all %}
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-user fa-fw"></i> {{ owner.name }} (Owner) </h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            {% for contact_method in owner.contact_to_method.all %}
                                <li class="list-group-item">
                                    {% if contact_method.method == 'email' %}
                                        <i class="fa fa-envelope-o fa-fw"></i>
                                        <a href="mailto:{{ contact_method.value }}">{{ contact_method.value }}</a>
                                    {% elif contact_method.method == 'lync' %}
                                        <i class="fa fa-comments fa-fw"></i>
                                        <a href="sip:{{ contact_method.value }}">{{ contact_method.value }}</a>
                                    {% elif contact_method.method == 'phone' %}
                                        <i class="fa fa-phone fa-fw"></i>
                                        <a href="callto:{{ contact_method.value }}">{{ contact_method.value }}</a>
                                    {% elif contact_method.method == 'mobile' %}
                                        <i class="fa fa-mobile fa-fw"></i>
                                        <a href="callto:{{ contact_method.value }}">{{ contact_method.value }}</a>
                                    {% else %}
                                        {{ contact_method.method }} {{ contact_method.value }}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-server fa-fw"></i> Instances </h3>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Location</th>
                            <th>Environment</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for instance in my_module.instance_to_module.all %}
                            {% if instance.environment == 'prod' %}
                                <tr class="danger">
                                    {% elif instance.environment == 'ctest' %}
                                <tr class="warning">
                                    {% elif instance.environment == 'qa' %}
                                <tr class="info">
                                    {% else %}
                                <tr class="default">
                            {% endif %}
                        <td>
                            <a href="/instance/{{ instance.slug }}/">
                                {% if instance.name == '' %}{{ instance.module.name }}{% else %}
                                    {{ instance.name }}{% endif %}
                            </a>
                        </td>
                        <td>{{ instance.location.name }}</td>
                        <td>{{ instance.get_environment_display }}</td>

                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-sitemap" aria-hidden="true"></i> Dpendencies </h3>
                </div>
                <div class="panel-body" align="middle">
                    {{ my_graph|safe }}

                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
{% endblock %}